
#background-div {
	position: relative
}

.bordered {
	border: 2px solid;
	margin: 5px;
	padding: 5px;
}

.opinion {
	display: inline-block;
}

.small-label {
	color: grey;
	font-size: 14px;
}

.lawtext {
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.help {
	font-size: 16px;
	color: green;
	margin-left: 10px;
	display: var(--display-help);
}

#ac1 {
	position: absolute;
	top: 10%;
	left: 10%;
	bottom: 70%;
	right: 50%;
}

#help-button {
	position: fixed;
	right: 3px;
	top: 3px;
}

#paper-div {
	position: absolute;
	bottom: 10%
	left: 10%
}

* {
	font-family: Cambria
}

h3 {
	margin-top: 2px;
}
