#background-div {
	position: relative
}

div.bordered {
	border: 2px solid;
	margin: 2px
}

#ac1 {
	position: absolute;
	top: 10%;
	left: 10%;
	bottom: 70%;
	right: 50%;
}

#paper-div {
	position: absolute;
	bottom: 10%
	left: 10%
}

* {
	font-family: Cambria
}
